<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>English Idioms and Structures Page</title>
  <link rel="stylesheet" href="main.css" />
  <script src="assets/libs/vue.js"></script>
</head>

<body>
  <div id="app">
    <div id="animated-menu" @click="toggleMenu">
      <div class="bar1" :class="isOpen ? 'change' : ''"></div>
      <div class="bar2" :class="isOpen ? 'change' : ''"></div>
      <div class="bar3" :class="isOpen ? 'change' : ''"></div>
    </div>
    <nav id="navbar" v-if="isOpen">
      <header>
        <h1>Idioms and Structures</h1>
      </header>
      <form id="filter-form">
          <input @keyup="search" id="search-box" type="text" placeholder="Please enter your criteria...">
        </form>
      <ul id="menu">
        <menu-item
          v-for="idiom in filteredIdioms"
          :idiom="idiom"
          :key="idiom.id"
        ></menu-item>
      </ul>
    </nav>
    <main id="content">
      <section id="sections">
        <idiom-item
          v-for="idiom in idioms"
          :idiom="idiom"
          :key="idiom.id"
        ></idiom-item>
      </section>
    </main>

    <footer-component></footer-component>
  </div>

  <script src="main.js"></script>
</body>

</html>