p,
li {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
}

.fa {
  color: #009688;
  margin-right: 0.5rem;
}

.page-wrapper {
  padding: 1rem;
}

.page-wrapper .left {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.page-wrapper .left .personal-info .avatar {
  width: 30%;
  height: 170px;
}

.page-wrapper .right {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.footer {
  text-align: center;
}

.footer .social-media li {
  list-style-type: none;
  float: left;
}

.footer .social-media li a {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.footer .social-media li a:hover {
  opacity: 0.8;
}

.footer .social-media .fa {
  color: #fff;
}

@media screen and (max-width: 920px) {
  .page-wrapper .left {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }

  .page-wrapper .right {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
  }
}

@media screen and (max-width: 769px) {
  .page-wrapper {
    display: block;
  }

  .page-wrapper .left .languages {
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
  }

  .page-wrapper .left,
  .page-wrapper .right {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .page-wrapper .right {
    padding-top: 0;
    margin-left: 0;
  }
}
